<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yingzhuo.mysqlsys.model.mapper.RedundantIndexMapper">

    <select id="findAll" resultType="RedundantIndex">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            table_schema                 AS tableSchema,
            table_name                   AS tableName,
            redundant_index_name         AS redundantIndexName,
            redundant_index_columns      AS redundantIndexColumns,
            redundant_index_non_unique   AS redundantIndexNonUnique,
            dominant_index_name          AS dominantIndexName,
            dominant_index_columns       AS dominantIndexColumns,
            dominant_index_non_unique    AS dominantIndexNonUnique,
            subpart_exists               AS subpartExists,
            sql_drop_index               AS sqlDropIndex
        FROM
            schema_redundant_indexes
        WHERE
            table_schema NOT IN ('performance_schema', 'sys', 'mysql')
        ]]>
        <!-- @formatter:on -->
    </select>

    <select id="findBySchemaName" parameterType="string" resultType="RedundantIndex">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            table_schema                 AS tableSchema,
            table_name                   AS tableName,
            redundant_index_name         AS redundantIndexName,
            redundant_index_columns      AS redundantIndexColumns,
            redundant_index_non_unique   AS redundantIndexNonUnique,
            dominant_index_name          AS dominantIndexName,
            dominant_index_columns       AS dominantIndexColumns,
            dominant_index_non_unique    AS dominantIndexNonUnique,
            subpart_exists               AS subpartExists,
            sql_drop_index               AS sqlDropIndex
        FROM
            schema_redundant_indexes
        WHERE
            table_schema = #{schemaName}
        ]]>
        <!-- @formatter:on -->
    </select>

</mapper>